body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.nav_left_content {
    display: flex;
    align-items: center;
}

.login_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fieldset_buttons {
    display: flex;
    justify-content: flex-end;
}

.fieldset_element {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}